@model IEnumerable<Portal.Models.News>
@{
    ViewBag.Title = "صفحه اصلی";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4" style="min-height: 350px">
            <h2>@item.Title</h2>
            <p>تاریخ : @item.CreatedOn.ToString("dddd d MMMM yyyy") - گروه : <a href="/home/ShowNews/@item.GroupId">@item.Groups.Title</a></p>
            <p>@item.ShortText</p>
            <p><a class="btn btn-default" href="/Home/NewsDetails/@item.Id">نمایش کامل</a></p>
        </div>
    }
</div>